#game {
  /* Default theme */
  --dark: var(--cb-dark, hsl(0, 0%, 20%));

  background: var(--game-bg, hsl(0, 0%, 45%));
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: none;
  font-size: 1.75rem;
  font-family: system-ui;
  font-weight: bold;
  color: var(--text, hsl(0, 0%, 90%));
}

/* Ball */

.ball {
  height: var(--diameter, 10px);
  width: var(--diameter, 10px);
  background: var(--ball-bg, hsl(0, 0%, 90%));
  border: var(--ball-border, hsl(0, 0%, 20%)) solid 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transition: all 17ms;
}

.ball--destroyed {
  background: transparent;
  border-width: 0;
  height: 15%;
  width: 15%;
  opacity: 0;
  transition: border-width 50ms ease-out, height 300ms ease-out, width 350ms ease-in, opacity 150ms ease-in-out 200ms, background 220ms ease-in 100ms;
}

/* Paddle */

.paddle {
  background: var(--paddle-bg, hsl(0, 0%, 90%));
  border: var(--paddle-border, hsl(0, 0%, 20%)) solid 3px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 5px 5px;
  will-change: transform;
  transition: all 17ms;
}

/* Bricks */

.brick {
  background: var(--brick-bg, hsl(0, 0%, 90%));
  border: var(--brick-border, hsl(0, 0%, 20%)) solid 3px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.brick--destroyed {
  background: transparent;
  border-width: 0;
  opacity: 0;
  transition: border-width 250ms ease-out, opacity 200ms ease-in-out 100ms, background 120ms ease-in;
}

/* Debug  */

#debug {
  height: fit-content;
  width: fit-content;
  background: #0008;
  padding: 0.5%;
  font-size: 1.5rem;
  border-radius: 5%;
  position: absolute;
}

/* HUD */

#hud {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  letter-spacing: 0.5vmin;
  -webkit-text-stroke: 0;
  z-index: 1;
  opacity: 0.95;
  color: var(--hud-text, hsl(0, 0%, 90%));
}

/* Pause */

#pause {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.5rem;
  font-family: system-ui;
  font-weight: bold;
  background: #0008;
  letter-spacing: .5rem;
  cursor: default;
  white-space: pre;
}

#pause.final {
  animation: none;
}

/* Link */

.clickable {
  cursor: pointer;
}

.resume-link {
  /* opacity pulse animation */
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
