.game {
  background: var(--game-bg, hsl(0, 0%, 45%));
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: none;
  font-size: 1.75rem;
  font-family: system-ui;
  font-weight: bold;
  color: var(--text, hsl(0, 0%, 90%));
}

/* Ball */
.ball {
  height: var(--diameter, 10px);
  width: var(--diameter, 10px);
  background: var(--ball-bg, hsl(0, 0%, 90%));
  border: var(--ball-border, hsl(0, 0%, 20%)) solid 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transition: all 17ms;
}

.ball--destroyed {
  background: transparent;
  border-width: 0;
  height: 23%;
  width: 23%;
  opacity: 0;
  transition: border-width 50ms ease-out, height 310ms ease-out, width 350ms ease-in, opacity 150ms ease-in-out 200ms,
    background 220ms ease-in 100ms;
}

/* Paddle */

.paddle {
  background: var(--paddle-bg, hsl(0, 0%, 90%));
  border: var(--paddle-border, hsl(0, 0%, 20%)) solid 3px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--paddle-radius, 0);
  will-change: transform;
  transition: transfrom 17ms, background 100ms;
}

/* Bricks */

.brick {
  background: var(--brick-bg, hsl(0, 0%, 90%));
  border: var(--brick-border, hsl(0, 0%, 20%)) solid 3px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.brick--destroyed {
  background: transparent;
  border-width: 0;
  opacity: 0;
  transition: border-width 250ms ease-out, opacity 200ms ease-in-out 100ms, background 120ms ease-in;
}

/* Debug  */

#debug {
  height: fit-content;
  width: fit-content;
  background: #0008;
  padding: 0.5%;
  font-size: 1.5rem;
  border-radius: 5%;
  position: absolute;
}

/* HUD */

#hud {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  letter-spacing: 0.5vmin;
  -webkit-text-stroke: 0;
  z-index: 1;
  opacity: 0.95;
  color: var(--hud-text, hsl(0, 0%, 90%));
}

/* Pause */

#pause {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.5rem;
  font-family: system-ui;
  font-weight: bold;
  background: #0008;
  letter-spacing: 0.5rem;
  cursor: default;
  white-space: pre;
}

#pause.final {
  animation: none;
}

/* Link */

.clickable {
  cursor: pointer;
}

.resume-link {
  /* opacity pulse animation */
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Bonuses */
.paddle.grip-1 {
  background: radial-gradient(at 50% 100%, var(--paddle-bg), var(--paddle-bg) 63%, transparent 75%, transparent 100%),
    repeating-radial-gradient(
      circle at 50% -130%,
      var(--paddle-bg),
      var(--paddle-bg) 8%,
      var(--paddle-border) 8%,
      var(--paddle-border) 13%
    );
}
.paddle.grip-2 {
  background: radial-gradient(at 50% 110%, var(--paddle-bg), var(--paddle-bg) 55%, transparent 65%, transparent 100%),
    repeating-radial-gradient(
      circle at 50% -280%,
      var(--paddle-bg),
      var(--paddle-bg) 5%,
      var(--paddle-border) 8%,
      var(--paddle-border) 13%,
      var(--paddle-bg) 16%
    );
}

.ball.speeddown-1 {
  box-shadow: calc(var(--dx, 0) * -12) calc(var(--dy, 0) * -12) calc(var(--diameter, 0) / 3)
    calc(var(--diameter, 0) / -5) var(--ball-border);
}
.ball.speeddown-2 {
  box-shadow: calc(var(--dx, 0) * -12) calc(var(--dy, 0) * -12) calc(var(--diameter, 0) / 2)
    calc(var(--diameter, 0) / 6) var(--ball-border);
}
.ball.speedup-1 {
  box-shadow: calc(var(--dx, 0) * -5) calc(var(--dy, 0) * -5) calc(var(--diameter, 0) / 2) calc(var(--diameter, 0) / -3)
    var(--ball-bg);
}
.ball.speedup-2 {
  box-shadow: calc(var(--dx, 0) * -3) calc(var(--dy, 0) * -3) calc(var(--diameter, 0) / 2) calc(var(--diameter, 0) / 6)
    var(--ball-bg);
}

.hello-h {
  --brick-bg: hsl(0, 100%, 71%, 45%);
  --brick-border: hsl(0, 74%, 68%);
}
.hello-e {
  --brick-bg: hsl(60, 100%, 71%, 90%);
  border: none;
}
.hello-l1 {
  --brick-bg: repeating-radial-gradient(
    circle,
    transparent 13px,
    hsl(120, 74%, 68%, 100%) 14px,
    hsl(120, 74%, 68%, 100%) 19px
  );
  border: none;
}
.hello-l2 {
  --brick-bg: repeating-linear-gradient(
    45deg,
    transparent 13px,
    hsl(180, 74%, 68%, 100%) 14px,
    hsl(180, 74%, 68%, 100%) 19px
  );
  border: none;
}
.hello-o {
  --brick-bg: hsl(240, 100%, 71%, 80%);
  --brick-border: hsl(240, 100%, 90%);
  box-shadow: 0px 3px 5px 1px hsl(240, 40%, 31%) ;
}
.hello-bang {
  --brick-bg: linear-gradient(
    180deg,
    hsl(0, 74%, 68%),
    hsl(60, 74%, 68%),
    hsl(120, 74%, 68%),
    hsl(180, 74%, 68%),
    hsl(240, 74%, 68%),
    hsl(300, 74%, 68%)
  );
  --brick-border: hsl(300, 74%, 68%);
  border-width: 2px;
  border-radius: 10px 5%;
  box-shadow: 0 0 10px 10px hsla(300, 100%, 88%, 0.477);
}
