#game {
  /* Default theme */
  --light: var(--cb-light, hsl(0, 0%, 90%));
  --dark: var(--cb-dark, hsl(0, 0%, 20%));

  --ball-bg: var(--cb-ball-bg, hsl(0, 0%, 90%));
  --paddle-bg: var(--cb-paddle-bg, hsl(0, 0%, 90%));
  --brick-bg: var(--cb-brick-bg, hsl(0, 0%, 90%));

  --bg: var(--cb-bg, hsl(0, 0%, 45%));
  --bg2: var(--cb-bg2, hsl(0, 0%, 60%));

  background: linear-gradient(213deg, var(--bg2) 10%, var(--bg) 70%);
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: none;
}

/* Ball */

.ball {
  height: var(--diameter, 2.5vh);
  width: var(--diameter, 2.5vh);
  background: var(--ball-bg);
  border: var(--dark) solid 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transition: all 17ms;
}

.ball--destroyed {
  background: var(--bg);
  border-width: 0;
  height: 15%;
  width: 15%;
  opacity: 0;
  transition: border-width 50ms ease-out, height 300ms ease-out, width 350ms ease-in, opacity 150ms ease-in-out 200ms, background 220ms ease-in 100ms;
}

/* Paddle */

.paddle {
  background: var(--paddle-bg);
  border: var(--dark) solid 3px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 5px 5px;
  will-change: transform;
  transition: all 17ms;
}

/* Bricks */

.brick {
  background: var(--brick-bg);
  position: absolute;
  border: var(--dark) solid 3px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.brick--destroyed {
  background: var(--bg);
  border-width: 0;
  opacity: 0;
  transition: border-width 250ms ease-out, opacity 200ms ease-in-out 100ms, background 120ms ease-in;
}

/* Debug  */

#debug {
  height: fit-content;
  width: fit-content;
  background: var(--dark);
  color: var(--light);
  padding: 0.5%;
  border-radius: 5%;
  position: absolute;
}

/* Pause */

#pause {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 25%;
  text-align: center;
  font-size: xx-large;
  font-family: system-ui;
  font-weight: bold;
  color: var(--light);
  background: #000a;
  letter-spacing: 0.75vmin;
  cursor: default;
  white-space: pre;
  /* opacity pulse animation */
  animation: pulse 8s infinite ease-in-out;
}

#pause.final {
  animation: none;
}

@keyframes pulse {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
